.typeLists {
  margin-left: 8rem;
  width: 20rem;
  height: 28.5rem;
  overflow: scroll;
  background-color: #ffffff;
  border-radius: 1rem;
  line-height: 2.5rem;
}
.list-header {
  display: flex;
  flex-direction: row;
}
.pokemon-list-item {
  font-size: 1.5rem;
  list-style: none;
}
h1 {
  color: #717070;
  padding-top: 1rem;
}

.orderList {
  display: flex;
  flex-flow: row wrap;
}
