.typeLists {
  margin-left: 8rem;
  width: 20rem;
  height: 28.5rem;
  overflow: scroll;
}
.list-header {
  display: flex;
  flex-direction: row;
}
.pokemon-list-item {
  font-size: 1.5rem;
}
h1 {
  color: rgb(42, 238, 146);
}
