.typeLists {
  margin-left: 8rem;
  width: 20rem;
  height: 28.5rem;
  overflow: scroll;
  /* margin-top: 3rem; */
  /* grid-column-start: 4;
  grid-column-end: 6; */
}
.list-header {
  display: flex;
  flex-direction: row;
}
.pokemon-list-item {
  font-size: 1.5rem;
  /* text-align: center; */
}
h1 {
  color: rgb(42, 94, 238);
}
